/home/gitika/IdeaProjects/kafkamainassignment/src/main/resources/twitter4j.properties'
*.class
*.log
.idea
.idea/*
.idea_modules
.idea_modules/*
target
/home/gitika/IdeaProjects/kafkamainassignment/src/main/resources/twitter4jdummy